<% provide(:title, "Blog Topics") %>

<div class="col-md-8 blog-main">
  <h2>Blogs Tagged as "<%= @topic.title %>"</h2>

   <%= paginate @blogs %>

   <%= render @blogs %>

   <%= paginate @blogs %>
</div>