<aside class="col-md-4 blog-sidebar">
  <%= source_helper %>

  <div class="p-3 mb-3 bg-light rounded">
    <h4 class="font-italic">Hi!</h4>
    <p class="mb-0">Here you'll find blog posts on topics like web development ideas and implementations, theroetical thoughts, and algorithms and solutions. Try clicking a topic below to see all of my blog posts on the subject to date.</p>
  </div>

  <div class="p-3">
    <h4>Topics</h4>
      <% @sidebar_topics.each do |topic| %>
        <p><%= link_to topic.title, topic_path(topic) %><p>
      <% end %>  
  </div>

  <div class="p-3">
    <h4 class="font-italic">Elsewhere</h4>
    <ol class="list-unstyled social-media-icons">
      <li><a href="https://github.com/flor3s/"><i class="fab fa-github"></i></a></li>
      <li><a href="#"><i class="fab fa-twitter"></i></a></li>
      <li><a href="#"><i class="fab fa-facebook"></i></a></li>
    </ol>
  </div>
</aside>