<% provide(:title, "About") %>

<div class="app-card-container">
  <div class="card">
    <h1>About Me</h1>

    <div class="row">
      <div class="col-md-5">
        <%= image_tag "profile.png", width: 250, alt: "Profile Image", class: "profile-img" %>
      </div>

      <div class="col-md-7">
        <p>Hi! I'm a self taught full stack web developer and data analyst who honestly just can't stop learning. Feel free to check out my blog for my latest thoughts on, and experiences with, data and web development. I update it often! </p>
      </div>
    </div>
  </div>
</div>