<% provide(:title, "Contact") %>
<h1>Let's work together.</h1>

<div class="row">
	<div class="col-md-6">
		<h3>Location</h3>
		<p>Bloomfield, NJ 07003</p>
		<h3>Github</h3>
		<p><%= link_to 'github.com/flor3s', 'https://www.github.com/flor3s' %></p>
	</div>

	<div class="col-md-6">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d48318.187378369854!2d-74.22227836748866!3d40.80848322211779!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2556c1f09d441%3A0xc34400ebfb0706a1!2sBloomfield%2C+NJ!5e0!3m2!1sen!2sus!4v1531453304972" width="400" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
	</div>
</div>

