<% provide(:title, "Contact") %>
<h1>Let's work together.</h1>

<div class="row">
	<div class="col-md-6">
		<h3>Location</h3>
		<p>Garwood, NJ 07027</p>
		<h3>Github</h3>
		<p><%= link_to 'github.com/flor3s', 'https://www.github.com/flor3s' %></p>
	</div>

	<div class="col-md-6 map-responsive">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12108.337395784385!2d-74.33178326287054!3d40.650071019417155!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c3b184af8c242b%3A0x5bf0b5dac84909f0!2sGarwood%2C+NJ!5e0!3m2!1sen!2sus!4v1542988906213" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
	</div>
</div>