<%= link_to "Add Project", new_project_path if logged_in?(:site_admin) %>

<div class="album py-5 bg-light">
  <div class="container">

    <div class="row">
    	<% provide(:title, "Projects") %>

			<%= render @projects %>
		</div>
	</div>
</div>